{% load bootstrap4 %}

{% if filter %}
  <form method="get">
    <div class='row'>
      <div class="form-group col-sm-4 col-md-4">
        {% bootstrap_field filter.form.player %}
      </div>
      <div class="form-group col-sm-4 col-md-4">
        {% bootstrap_field filter.form.team %}
      </div>
      <div class="form-group col-sm-4 col-md-4">
        {% bootstrap_field filter.form.season %}
      </div>
    </div>
    <div class="form-group btn">
    {% bootstrap_button 'filter' %}
    </div>
  </form>
{% endif %}
