{% extends 'justbballstuff/base.html' %}

{% block menu %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if total %}active{% endif %}" href="{% url 'defensive_playmaking:total' %}">Total</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if per_game %}active{% endif %}" href="{% url 'defensive_playmaking:per_game' %}">Per Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if per_min %}active{% endif %}" href="{% url 'defensive_playmaking:per_min' %}">Per 36</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if per_game_rank %}active{% endif %}" href="{% url 'defensive_playmaking:rank_per_game' %}">Rank Per Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if per_min_rank %}active{% endif %}" href="{% url 'defensive_playmaking:rank_per_min' %}">Rank Per 36</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if glossary %}active{% endif %}" href="{% url 'defensive_playmaking:glossary' %}">Glossary</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
{% endblock %}
