{% extends 'justbballstuff/base.html' %}

{% block content %}
  <h1 class='text-center display-1'>Just BBall Stuff</h1>
  <h2 class='text-center display-4'>A fun website filled with basketball-related stuff.</h2>
  <h4 class='text-center'>Get all the useful, fun stats from <a target="_blank" rel="noopener noreferrer" href='https://www.nba.com/stats/'>stats.nba.com</a> (with enhancements here and there) broken down into easy-to-read subsections.  All stats start from 2017-18 (the season that Matchup data became available).</h4>
  <p class='text-center'>This entire project is open-sourced.  All code for the website and source data will be publically available on Github repos.  If you have any questions, suggestions or potential areas of improvements, feel free to DM me at @schuler76 on Twitter or even feel free to contribute to the codebase/project.  And also please feel free to share this project to anyone that can and will benefit from this.</p>

  <div class='row d-flex justify-content-center flex-nowrap'>
    <div class='form-group col-md-4'>
      <h4 class='text-center display-4'><a href="{% url 'player_profile:offense_index' %}">Offensive Profiles</a></h4>
      <p class='text-center'>Get comprehensive defensive profiles for every player since 2017-18 that quantifies and ranks scoring, passing, ball handling, breakdown of actions, shot charts, shot difficulty, and dirty work tasks (offensive rebounding, screen assists, shooting fouls drawn).</p>
    </div>
    <div class='form-group col-md-4'>
      <h4 class='text-center display-4'><a href="{% url 'player_profile:defense_index' %}">Defensive Profiles</a></h4>
      <p class='text-center'>Get comprehensive defensive profiles for every player since 2017-18 that quantifies roles (opposing matchups, perimeter defender versus rim protector, etc) and ranks productions in various counting stats (steal, blocks, deflections, stocks (steals + blocks), deals (deflections + steals) and many more.)</p>
    </div>
  </div>
{% endblock %}
