{% extends "rim_protection/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block content %}
  <h4 class='display-4'>{{ title_head }}</h4>
  <p>For every player that has been designated a non guard who of all contested FGAs, contested 30% of them at the rim since 2017-18, get defended FG% at the rim along with the difference in actual FG% versus expected FG% along with percentiles for players who played at least 500 minutes.</p>
  {% include 'rim_protection/filters.html' %}
  {% render_table table %}
{% endblock %}
